.img-about {
  transform: rotate(-10.07deg);
}

.about-title {
  color: #fa5652;
  font-size: 29px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 40px;
}
.about-sub-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
  color: #035755;
}
.about-text {
  font-weight: normal;
  font-size: 16px;
  text-transform: capitalize;
  color: #4b4f51;
}

.btn-about {
  color: #fa5652;
  background: rgba(250, 86, 82, 0.15);
  border: 1px solid #fa5652;
  border-radius: 35px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}
