// body{
//     background: linear-gradient(0deg, rgba(255, 255, 255, 0) -29.64%, #FFF8F8 45.66%, #B57474 45.66%);
// }
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.nav-link {
  color: $color !important;
}

.active {
  color: $activecolor !important;
}

.button-header {
  color: #fa5652 !important;
  border: 1px solid #fa5652;
  border-radius: 25px;
}

h1 {
  font-weight: 700 !important;
  font-size: 45px !important;
  color: $color;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 24px;
}

.button-title {
  color: white;
  background-color: #fa5652;
  border: 1px solid #fa5652;
  border-radius: 35px;
  text-decoration: none;
  font-size: 18px;
}
